* {
  box-sizing: border-box;
}

/* CARD */
.card {
    border: 1px solid cornflowerblue;
    margin: 10px;
}

.card-header {
    color: white;
    background-color: cornflowerblue;
}

/* FORM */
.form-input {
  padding: 3px 0;
  margin: 5px 0;
  font-size: 1.2rem;
}

/* 5 DAY FORCAST */
.forcast {
  background-color: cornflowerblue;
  border-radius: 5px;
  color: white;
  margin: 5px 5px;
  padding: 10px;
}

.forcast-date {
  font-weight: bold;
  margin-bottom: 0;
}

/* SEARCH HISTORY BUTTONS */
#search-history, button {
  width: 90%;
  margin: auto;
}